* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

body {
  background-color: white;
  font-family: "Montserrat", sans-serif;
}

/* GLOBALES */
.returnBtn {
  position: absolute;
  top: 100px;
  left: 7%;
  color: black;
  background-color: white;
  display: flex;
  align-items: center;
  gap: 5px;
  padding: 5px;
  border-radius: 50px;
  transition: 0.5s;
  border: 3px solid black;
  font-size: 20px;
}

.returnBtn:hover {
  cursor: pointer;
  background-color: black;
  color: white;
}

.returnBtn h4 {
  display: none;
}

.returnBtn:hover h4 {
  max-width: 200px;
  display: initial;
  padding-right: 10px;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #dbdbdb;
  height: 4rem;
  padding: 0 0.8rem;
  position: fixed;
  z-index: 999;
  width: 100%;
}

header div {
  display: flex;
}

header div div i {
  margin-left: 1.2rem;
}

#cart {
  position: absolute;
  top: 0.8rem;
  right: 3rem;
  font-size: smaller;
  background-color: #fff;
  border-radius: 50px;
  padding: 0 5px;
}

nav {
  position: absolute;
  top: 4rem;
  left: 0;
  width: 100%;
  padding: 0.8rem 0;
  background-color: #fff;
}

nav ul {
  display: flex;
  flex-direction: column;
  align-items: center;
}

nav ul li {
  list-style-type: none;
  padding: 0.8rem 0;
  transition: 0.2s;
}

nav ul li:hover {
  transform: scale(1.1);
}

nav ul li a {
  text-decoration: none;
  color: #000;
}
a {
  color: #000;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 1rem;
  gap: 0.3rem;
}
form input {
  width: 75vw;
  padding: 6px;
}
form label {
  font-weight: bold;
  padding-top: 12px;
}
form button {
  width: 80vw;
  margin-top: 1rem;
  padding: 8px;
}

section {
  width: 100%;
  min-height: 95vh;
  padding: 0 7%;
}

.btn {
  padding: 15px 20px;
  background-color: wheat;
  font-size: 20px;
  font-weight: bold;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  transition: 0.3s;
}

.btn i {
  margin-left: 5px;
}

.btn:hover {
  background-color: rgb(22, 22, 22);
  color: white;
}

/* HOME PAGE */
.homeMain {
  position: relative;
  margin-bottom: 30px;
}

.homeMain__img {
  width: 100%;
  height: 85vh;
  object-fit: cover;
}

.homeMain__text,
.homeMain__btn {
  position: absolute;
}

.homeMain__text {
  /* background-color: rgba(255, 255, 255, 0.7); */
  text-align: left;
  width: 45%;
  /* top: 200px;*/
  top: 120px;
  left: 7%;
}

.homeMain__btn {
  /* top: 350px; */
  top: 280px;
  left: 7%;
}

.homeMain__btn:hover i,
.featuredCategoriesSection__btn:hover i {
  margin-left: 15px;
}

/* HOME PAGE / CATEGORIES SECTION */
.featuredCategoriesSection {
  display: flex;
  flex-direction: column;
  gap: 20px;
  background-color: rgb(215, 209, 197);
  background-color: white;
}

.featuredCategories {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 20px;
  grid-auto-flow: dense;
}

.featuredCategoriesSection__btn {
  border-radius: 25px;
  padding: 8px 12px;
  background-color: rgb(22, 22, 22);
  color: white;
}

.featuredCategoriesSection__btn:hover {
  background-color: rgb(215, 209, 197);
  color: black;
}

.featuredCategories__principal,
.featuredCategories__second,
.featuredCategories__third {
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: 20px;
  aspect-ratio: 1/1;
}

.featuredCategories__principal {
  grid-column: 1/3;
  grid-row: 1/3;
}

.featuredCategories__principal--img,
.featuredCategories__second--img,
.featuredCategories__third--img {
  width: 100%;
  height: 100%;
  border-radius: 20px;
}

.featuredCategories__btn {
  position: absolute;
  bottom: 5%;
  right: 5%;
  font-size: 15px;
  border-radius: 25px;
  padding: 8px 12px;
  background-color: white;
  min-width: 130px;
}

.featuredCategories__info {
  width: 100%;
  height: 100%;
  grid-column: 3/5;
  grid-row: 2/3;
  display: flex;
  flex-direction: column;
  justify-content: end;
  gap: 50px;
}

.featuredCategories__info--text {
  text-align: left;
  font-size: 28px;
}

.featuredCategories__info--text span {
  border-bottom: 2px solid black;
  padding-bottom: 2px;
}

.featuredCategories__info--btn {
  font-size: 20px;
}

/* HOME PAGE REVIEW SECTION */
.homeReviewsSection {
  display: flex;
  flex-direction: column;
  gap: 20px;
  background: url(/public/img/comedor-moderno-3d-sala-estar-decoracion-lujo.jpg);
  background-size: cover;
}

.homeReviews {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
  margin: auto 0;
}

.homeReviews__review {
  width: 350px;
  height: 300px;
  padding: 20px;
  background-color: white;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  justify-content: space-between;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.homeReviews__review--img {
  width: 100px;
  height: 100px;
  background-color: black;
  border-radius: 50%;
}

.homeReviews__review--stars {
  display: flex;
  gap: 20px;
  color: #ffbf50;
}

.homeReviews__review--text {
  text-align: center;
}

.homeReviews__review--user {
  font-size: 18px;
  font-weight: bold;
}

/* HOME PAGE GALLERY SECTION */

.homeGallery {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  margin: 40px 0;
}

.item-1 {
  grid-column: span 1;
  grid-row: span 1;
  aspect-ratio: 1/1;
}

.item-2 {
  grid-column: span 2;
  grid-row: span 2;
  aspect-ratio: 1/1;
}

.homeGallery__link {
  position: relative;
}

.linkBox {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  border: 4px solid white;
  padding: 15px 35px;
  font-size: 36px;
  font-weight: bold;
  display: none;
}

.homeGallery__link:hover .linkBox {
  display: block;
  z-index: 998;
}

.homeGallery__link:hover img {
  filter: brightness(60%);
}

.homeGallery__img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

/* PRODUCTS PAGE */
.productsSection,
.cartSection,
.productDetailSection {
  padding-top: 90px;
}

.sectionTitle {
  font-size: 36px;
  text-align: center;
  margin-bottom: 30px;
}

.productsContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  justify-content: center;
}

.productCard {
  max-width: 360px;
  height: auto;
}

.productCard-img {
  width: 100%;
  height: 360px;
  border-radius: 20px;
  object-fit: cover;
  margin-bottom: 10px;
}

.productCard-info {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.productTitle {
  font-size: 22px;
  text-align: left;
}
.productRating {
  color: #ffbf50;
}

.productRating span {
  color: black;
}

.productCard-category {
  color: gray;
  text-align: left;
}

.productDescription {
  font-size: 18px;
  width: 100%;
}

.productPrice {
  margin-top: 10px;
  text-align: left;
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 1px;
}

/* PRODUCT DETAIL PAGE */
.productContainer {
  margin-top: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.detailCard {
  width: 100%;
  display: flex;
  gap: 20px;
}

.detailCard-img {
  width: 50%;
  aspect-ratio: 1/1;
  border-radius: 20px;
}

.detailCard-info {
  width: 45%;
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.productDetailTitle {
  font-size: 38px;
}

.productDetailRating {
  color: #ffbf50;
  font-size: 22px;
}

.productDetailRating span {
  margin-left: 5px;
  color: black;
}

.productCard-description {
  margin: 20px 0;
  height: 40%;
  text-align: justify;
}
.productQuantity {
  margin: 10px 0;
  display: flex;
  align-items: center;
  gap: 20px;
}

.productQuantity-counter {
  display: flex;
  gap: 20px;
  align-items: center;
}

.productBtn {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  border: 1.5px solid black;
  background-color: rgb(255, 255, 255);
  color: black;
  cursor: pointer;
}

.productBtn:hover {
  background-color: black;
  color: white;
  transition: 0.3s;
}

.addBtn {
  border-radius: 30px;
}

/* CART PAGE */
.cartContainer {
  border: 4px solid black;
  width: 80%;
  margin: 0 auto 20px;
  height: 80vh;
  border-radius: 20px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.cartContainer__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.clearProductsBtn {
  font-size: 20px;
  padding: 5px 10px;
  border-radius: 5px;
  background-color: inherit;
  border: 3px solid black;
  color: black;
  transition: 0.4s;
}

.clearProductsBtn:hover,
.deleteItem:hover {
  background-color: black;
  color: white;
  cursor: pointer;
}

.cartContainer__sections {
  display: flex;
  justify-content: space-between;
  text-align: left;
  line-height: 1.5;
  border-bottom: 3px solid rgb(156, 156, 156);
  margin-top: 20px;
}

.cartContainer__section {
  width: 30%;
  font-size: 20px;
  font-weight: bold;
  color: gray;
}

.unitsSection {
  text-align: center;
}

.cartList {
  margin: 20px 0;
  height: 100%;
  border-bottom: 3px solid rgb(157, 157, 157);
  overflow-y: scroll;
}

.cartList::-webkit-scrollbar {
  display: none;
}

.cartItem {
  display: flex;
  justify-content: space-between;
  height: 110px;
  align-items: center;
}

.cartItem__product {
  height: 100%;
  display: flex;
  align-items: center;
  gap: 15px;
}

.cartItem__section {
  width: 30%;
}

.cartItem__product--img {
  width: 50%;
  height: 100%;
  border-radius: 5px;
}

.cartItem__product--info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 10px;
  text-align: left;
}

.cartItem__units {
  font-size: 32px;
}

.cartItem__price {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.deleteItem {
  width: 50px;
  height: 50px;
  font-size: 30px;
  border-radius: 5px;
  background-color: inherit;
  border: 3px solid black;
  color: black;
  transition: 0.4s;
}

.cartItem__divider {
  margin: 10px auto;
  width: 90%;
  border-bottom: 3px solid rgb(214, 214, 214);
}

.cartContainer__bottom {
  display: flex;
  justify-content: space-between;
}

.totalProducts,
.totalPrice {
  font-weight: bold;
}

.payBtn {
  background-color: #ffbf50;
  border: 3px solid white;
  padding: 10px 20px;
  border-radius: 8px;
}

.payBtn:hover {
  border: 3px solid black;
  background-color: black;
  color: #ffbf50;
}

/* CHAT PAGE */
h3 {
  text-align: center;
}

#messages,
#chatBox,
#userName {
  margin: 10px 0 0 10px;
}

#messages {
  width: 20%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#messages h6 {
  background-color: rgb(112, 49, 112);
  font-size: medium;
  color: white;
}

.message {
  width: auto;
  border: 2px solid black;
}
