<div class="chat">
    <h3>Chat</h3>
    <h5 id="userName"></h5>
    <div id="messages"></div>
    <fieldset class="msg-input">
        <input type="text" placeholder="Message" id="chatBox">
        <button id="sendBtn">
            <img src="/public/icons/send.svg" alt="Send">
        </button>
    </fieldset>
</div>