<main class="homeMain">
  {{! <img
    class="homeMain__img"
    src="/public/img/comedor-moderno-3d-sala-estar-decoracion-lujo.jpg"
    alt=""
  /> }}
  <img
    class="homeMain__img"
    src="/public/img/sofa-gris-salon-blanco-espacio-copiar.jpg"
    alt=""
  />
  <h1 class="homeMain__text">CREATE YOUR DREAM HOME WITH OUR EXQUISITE SELECTION
    OF PRODUCTS</h1>
  <a href="#"><button class="btn homeMain__btn">Decorate Now
      <i class="fa-solid fa-arrow-right"></i></button></a>
</main>
<section class="featuredCategoriesSection" id="featuredCategoriesSection">
  <h2>Featured Categories</h2>
  <a href="/products"><button class="btn featuredCategoriesSection__btn">See All
      <i class="fa-solid fa-arrow-right"></i></button></a>
  <div class="featuredCategories">
    <div class="featuredCategories__principal">
      <img
        class="featuredCategories__principal--img"
        src="/public/img/marco-fotos-arte-abstracto-junto-sillon-terciopelo-rosa.jpg"
        alt=""
      />
      <a href="/products"><button class="btn featuredCategories__btn">New Drops</button></a>
    </div>
    <div class="featuredCategories__second">
      <img
        class="featuredCategories__second--img"
        src="/public/img/marco-fotos-arte-abstracto-junto-sillon-terciopelo-rosa.jpg"
        alt=""
      />
      <a href="/products"><button class="btn featuredCategories__btn">Category
          One</button></a>
    </div>
    <div class="featuredCategories__third">
      <img
        class="featuredCategories__third--img"
        src="/public/img/marco-fotos-arte-abstracto-junto-sillon-terciopelo-rosa.jpg"
        alt=""
      />
      <a href="/products"><button class="btn featuredCategories__btn">Category
          One</button></a>
    </div>
    <div class="featuredCategories__info">
      <h3 class="featuredCategories__info--text">Each piece will make your home
        the most
        <span>comfortable place</span></h3>
      <a href="/products"><button class="btn featuredCategories__info--btn">SHOP
          NOW</button></a>
    </div>
  </div>
</section>

<section class="homeReviews" id="homeReviews">

  <h2>Reseñas</h2>

</section>

<section class="homeGallery" id="homeGallery">
  <h2>Galería</h2>
</section>