<main class="homeMain">
  {{! <img
    class="homeMain__img"
    src="/public/img/comedor-moderno-3d-sala-estar-decoracion-lujo.jpg"
    alt=""
  /> }}
  <img
    class="homeMain__img"
    src="/public/img/sofa-gris-salon-blanco-espacio-copiar.jpg"
    alt=""
  />
  <h1 class="homeMain__text">CREATE YOUR DREAM HOME WITH OUR EXQUISITE SELECTION
    OF PRODUCTS</h1>
  <a href="#"><button class="btn homeMain__btn">Decorate Now
      <i class="fa-solid fa-arrow-right"></i></button></a>
</main>
<section class="homeSection" id="homeSection">
  <div class="featured">
    <h2>Categorías destacadas</h2>
  </div>
  <div class="reviews">
    <h2>Reseñas</h2>
  </div>
  <div class="gallery">
    <h2>Galería</h2>
  </div>
</section>