<section class="productsSection" id="productsSection">
  <h2 class="sectionTitle">Products</h2>
  <div class="productsContainer">
    {{#each products}}
      <div class="productCard">
        <a href="/products/{{this._id}}">
          <img
            class="productCard-img"
            src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRJiT-UHSm6w0Jperb8SitpfoAKeMUE3uynPg5YO-2Drw&s"
            alt="imagen producto"
          /></a>
        <div class="productCard-info">
          <h3 class="productTitle">Product</h3>
          <i class="fa-sharp fa-solid fa-star productRating"><span
            >4.5</span></i>
        </div>
        <p class="productCard-category">category</p>
        <p class="productPrice">59.99 €</p>
      </div>
    {{/each}}

  </div>
</section>