<html lang="en">

  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{title}}</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/public/styles.css" />
  </head>

  <body>

    <header>
      <picture class="logo">
        <a href="/"><img src="" alt="Logo" /></a>
      </picture>
      <div>
        <div>
          <a href="/carts">
            <i class="fa-sharp fa-solid fa-cart-shopping fa-xl"></i>
          </a>
          <span id="cart"></span>
        </div>
        <div>
          <i class="fa-solid fa-bars fa-2xl"></i>
          <i class="fa-solid fa-xmark fa-2xl"></i>
        </div>
      </div>
      <nav>
        <ul>
          <li><a href="/products">Products</a></li>
          <li><a href="/chat">Chat</a></li>
        </ul>
      </nav>
    </header>

    {{{body}}}

    <footer></footer>

    <script
      src="https://kit.fontawesome.com/930af3fab0.js"
      crossorigin="anonymous"
    ></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="/public/scripts/navbar.js"></script>
    {{#if script}}
      <script src={{script}}></script>
    {{/if}}

  </body>

</html>